# Bike Price Predictor

In [5]:
import numpy as np
import pandas as pd

In [6]:
data=pd.read_csv('Used_Bikes.csv')

In [82]:
data.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha

In [1]:
from sklearn.preprocessing import OrdinalEncoder,MinMaxScaler

In [2]:
OE = OrdinalEncoder()
MMS = MinMaxScaler()

In [10]:
data[["bike_name","city","owner","brand"]] =  OE.fit_transform(data[["bike_name","city","owner","brand"]] )

In [16]:
data[["bike_name","city","owner","brand"]] = MMS.fit_transform(data[["bike_name","city","owner","brand"]])

In [22]:
data[["price","kms_driven","age","power"]] = MMS.fit_transform(data[["price","kms_driven","age","power"]])

In [24]:
data.corr()

,bike_name,price,city,kms_driven,owner,age,power,brand
bike_name,1.000000,0.058337,0.123082,-0.060455,-0.019190,-0.050415,0.048600,0.974958
price,0.058337,1.000000,0.091418,-0.313955,-0.042885,-0.399133,0.862376,0.074757
city,0.123082,0.091418,1.000000,-0.106130,0.139976,0.036128,0.051510,0.091036
kms_driven,-0.060455,-0.313955,-0.106130,1.000000,-0.016986,0.484684,-0.264016,-0.104825
owner,-0.019190,-0.042885,0.139976,-0.016986,1.000000,0.297564,0.043130,-0.001168
age,-0.050415,-0.399133,0.036128,0.484684,0.297564,1.000000,-0.337035,-0.084390
power,0.048600,0.862376,0.051510,-0.264016,0.043130,-0.337035,1.000000,0.125509
brand,0.974958,0.074757,0.091036,-0.104825,-0.001168,-0.084390,0.125509,1.000000

In [268]:
X= data[["bike_name","city","power","brand","age"]]
y= data["price"]

from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,train_size=0.75,random_state=8976,shuffle=False)

from sklearn.linear_model import LinearRegression
LR = LinearRegression()

In [265]:
from sklearn.linear_model import Ridge, RidgeCV, Lasso,ElasticNet
ridgeReg = Ridge(alpha=10)

ridgeReg.fit(X_train,y_train)

Ridge(alpha=10)

In [260]:
X_train = pd.DataFrame(X_train)
X_test = pd.DataFrame(X_test)

In [261]:
y_train = pd.DataFrame(y_train)
y_test = pd.DataFrame(y_test)

In [257]:
ridgeReg.fit(X_train,y_train)
pred = ridgeReg.predict(X_test)

In [258]:
r2_score(pred,y_test)

0.9181202565102917

In [232]:
LR.fit(X_train,y_train)

LinearRegression()

In [233]:
pred = LR.predict(X_test)

In [234]:
from sklearn.metrics import r2_score

In [235]:
r2_score(pred,y_test)

0.9261635574782229

In [262]:
lasso = Lasso(alpha=10)

lasso.fit(X_train,y_train)

Lasso(alpha=10)

In [263]:
pred = lasso.predict(X_test)

In [270]:
EN = ElasticNet(alpha=10)

EN.fit(X_train,y_train)

ElasticNet(alpha=10)

In [271]:
pred = EN.predict(X_test)

In [272]:
r2_score(pred,y_test)

0.0

In [83]:
data.shape

(32648, 8)

In [264]:
r2_score(pred,y_test)

0.0

In [84]:
data.isna().sum()

bike_name     0
price         0
city          0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [85]:
data.describe()

              price     kms_driven           age         power
count  3.264800e+04   32648.000000  32648.000000  32648.000000
mean   6.829542e+04   26344.625184      8.048211    213.511302
std    9.071860e+04   22208.527695      4.031700    134.428868
min    4.400000e+03       1.000000      1.000000    100.000000
25%    2.500000e+04   12000.000000      5.000000    150.000000
50%    4.300000e+04   20373.000000      7.000000    150.000000
75%    8.000000e+04   35000.000000     10.000000    220.000000
max    1.900000e+06  750000.000000     63.000000   1800.000000

In [86]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32648 entries, 0 to 32647
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   32648 non-null  object
 1   price       32648 non-null  float64
 2   city        32648 non-null  object
 3   kms_driven  32648 non-null  float64
 4   owner       32648 non-null  object
 5   age         32648 non-null  float64
 6   power       32648 non-null  float64
 7   brand       32648 non-null  object
dtypes: float64(4), object(4)
memory usage: 2.0+ MB

In [87]:
data['brand'].value_counts()

Bajaj              11213
Hero                6368
Royal Enfield       4178
Yamaha              3916
Honda               2108
Suzuki              1464
TVS                 1247
KTM                 1077
Harley-Davidson      737
Kawasaki              79
Hyosung               64
Benelli               56
Mahindra              55
Triumph               26
Ducati                22
BMW                   16
Jawa                  10
MV                     4
Indian                 3
Ideal                  2
Rajdoot                1
LML                    1
Yezdi                  1
Name: brand, dtype: int64

In [88]:
data.value_counts()

bike_name                 price    city       kms_driven  owner        age   power  brand
Hero CD Deluxe 100cc      18000.0  Chennai    22824.0     First Owner  8.0   100.0  Hero      620
Hero CBZ Xtreme 150cc     11900.0  Noida      34968.0     First Owner  14.0  150.0  Hero      620
Yamaha YZF-R15 2.0 150cc  55000.0  Rupnagar   27000.0     First Owner  9.0   150.0  Yamaha    620
Yamaha Fazer 150cc        25000.0  Delhi      65000.0     First Owner  12.0  150.0  Yamaha    620
Honda CB Trigger 150cc    43000.0  Bangalore  42837.0     First Owner  8.0   150.0  Honda     620
                                                                                             ...
Hero Passion Pro 100cc    18600.0  Delhi      49660.0     First Owner  12.0  100.0  Hero        1
                          18000.0  Chennai    253621.0    First Owner  11.0  100.0  Hero        1
                          17500.0  Faridabad  38554.0     First Owner  10.0  100.0  Hero        1
                          17000.0  Pune       59000.0     First Owner  15.0  100.0  Hero        1
Yezdi Classic 250cc       68000.0  Ahmedabad  23.0        Third Owner  39.0  250.0  Yezdi       1
Length: 7324, dtype: int64

In [89]:
data['price'].describe()

count    3.264800e+04
mean     6.829542e+04
std      9.071860e+04
min      4.400000e+03
25%      2.500000e+04
50%      4.300000e+04
75%      8.000000e+04
max      1.900000e+06
Name: price, dtype: float64

In [90]:
data.drop(columns=['city'],inplace=True)
data.head()

,bike_name,price,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,10000.0,First Owner,3.0,150.0,Yamaha

In [91]:
data['owner'].unique()

array(['First Owner', 'Second Owner', 'Third Owner',
       'Fourth Owner Or More'], dtype=object)

In [92]:
data['owner'].unique()
data.head()

,bike_name,price,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,10000.0,First Owner,3.0,150.0,Yamaha

In [114]:
data.replace({'owner':{'First Owner':1,'Second Owner':2,'Third Owner':3,'Fourth Owner Or More':4}},inplace=True)
data.head()

,bike_name,price,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,17654.0,1,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,11000.0,1,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,110.0,1,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,16329.0,1,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,10000.0,1,3.0,150.0,Yamaha

In [115]:
data['owner'].unique()

array([1, 2, 3, 4], dtype=int64)

# Preprocessing

In [57]:
from sklearn.preprocessing import LabelEncoder,OrdinalEncoder,OneHotEncoder
from sklearn.model_selection import train_test_split

              price     kms_driven         owner           age         power
count  3.264800e+04   32648.000000  32648.000000  32648.000000  32648.000000
mean   6.829542e+04   26344.625184      1.086253      8.048211    213.511302
std    9.071860e+04   22208.527695      0.296037      4.031700    134.428868
min    4.400000e+03       1.000000      1.000000      1.000000    100.000000
25%    2.500000e+04   12000.000000      1.000000      5.000000    150.000000
50%    4.300000e+04   20373.000000      1.000000      7.000000    150.000000
75%    8.000000e+04   35000.000000      1.000000     10.000000    220.000000
max    1.900000e+06  750000.000000      4.000000     63.000000   1800.000000

In [118]:
y=data['price']
y

0         35000.0
1        119900.0
2        600000.0
3         65000.0
4         80000.0
           ...
32643     39000.0
32644     30000.0
32645     60000.0
32646     15600.0
32647     22000.0
Name: price, Length: 32648, dtype: float64

In [119]:
X=data.drop(columns='price')

In [120]:
X

,bike_name,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,17654.0,1,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,11000.0,1,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,110.0,1,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,16329.0,1,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,10000.0,1,3.0,150.0,Yamaha
...,...,...,...,...,...,...
32643,Hero Passion Pro 100cc,22000.0,1,4.0,100.0,Hero
32644,TVS Apache RTR 180cc,6639.0,1,9.0,180.0,TVS
32645,Bajaj Avenger Street 220,20373.0,1,6.0,220.0,Bajaj
32646,Hero Super Splendor 125cc,84186.0,1,16.0,125.0,Hero
32647,Bajaj Pulsar 150cc,60857.0,1,13.0,150.0,Bajaj

In [121]:
ohe=OneHotEncoder()
ohe.fit(X[['bike_name','brand']])

OneHotEncoder()

In [122]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score,precision_score,recall_score,r2_score

In [123]:
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.8,random_state=10)

In [124]:
column_trans= make_column_transformer((OneHotEncoder(categories=ohe.categories_),['bike_name','brand']),
                                     remainder='passthrough')

In [125]:
lr= LinearRegression()

In [126]:
pipe=make_pipeline(column_trans,lr)

In [127]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['BMW F750 GS 850cc', 'BMW G 310 GS', 'BMW G 310 R',
       'BMW S 1000 RR Pro', 'BMW S 1000 XR Pro', 'Bajaj  Pulsar 180cc',
       'Bajaj Avenger 150cc', 'Bajaj Avenger 180cc',
       'Bajaj Avenger 200cc', 'Bajaj Avenger 220cc',
       'Bajaj Avenger Cruise 220', 'Bajaj Avenge...
       'Yamaha YZF-R3 320cc ABS', 'Yezdi Classic 250cc'], dtype=object),
                                                                            array(['BMW', 'Bajaj', 'Benelli', 'Ducati', 'Harley-Davidson', 'Hero',
       'Honda', 'Hyosung', 'Ideal', 'Indian', 'Jawa', 'KTM', 'Kawasaki',
       'LML', 'MV', 'Mahindra', 'Rajdoot', 'Royal Enfield', 'Suzuki',
       'TVS', 'Triumph', 'Yamaha', 'Yezdi'], dtype=object)]),
                                                  ['bike_name', 'brand'])])),
                ('linearregression', LinearRegression())])

In [136]:
y_pred=pipe.predict(X_test)

# Checking r2 Score

In [137]:
r2_score(y_test,y_pred)

0.9365484056018518

# Dumping Pickle Model

In [138]:
import pickle

In [140]:
pickle.dump(pipe,open('bikepredictionmodel.pkl','wb'))

In [143]:
pipe.predict(pd.DataFrame(columns=['bike_name','kms_driven','owner','age','power','brand'],data=np.array(['TVS Apache RTR 180cc',16450.0,2,9.0,180.0,'TVS']).reshape(1,6)))

array([31199.81598182])

In [144]:
data

,bike_name,price,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,17654.0,1,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,11000.0,1,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,110.0,1,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,16329.0,1,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,10000.0,1,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...
32643,Hero Passion Pro 100cc,39000.0,22000.0,1,4.0,100.0,Hero
32644,TVS Apache RTR 180cc,30000.0,6639.0,1,9.0,180.0,TVS
32645,Bajaj Avenger Street 220,60000.0,20373.0,1,6.0,220.0,Bajaj
32646,Hero Super Splendor 125cc,15600.0,84186.0,1,16.0,125.0,Hero
32647,Bajaj Pulsar 150cc,22000.0,60857.0,1,13.0,150.0,Bajaj

In [145]:
data.to_csv('cleaned_data.csv')