# Importing Packages and Dataset

In [1]:
import numpy as np
import pandas as pd

In [37]:
data=pd.read_csv('Used_Bikes.csv')

# Preprocessing

In [11]:
data.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha

In [12]:
data.shape

(32648, 8)

In [13]:
data.isna().sum()

bike_name     0
price         0
city          0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [14]:
data.describe()

              price     kms_driven           age         power
count  3.264800e+04   32648.000000  32648.000000  32648.000000
mean   6.829542e+04   26344.625184      8.048211    213.511302
std    9.071860e+04   22208.527695      4.031700    134.428868
min    4.400000e+03       1.000000      1.000000    100.000000
25%    2.500000e+04   12000.000000      5.000000    150.000000
50%    4.300000e+04   20373.000000      7.000000    150.000000
75%    8.000000e+04   35000.000000     10.000000    220.000000
max    1.900000e+06  750000.000000     63.000000   1800.000000

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32648 entries, 0 to 32647
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   32648 non-null  object
 1   price       32648 non-null  float64
 2   city        32648 non-null  object
 3   kms_driven  32648 non-null  float64
 4   owner       32648 non-null  object
 5   age         32648 non-null  float64
 6   power       32648 non-null  float64
 7   brand       32648 non-null  object
dtypes: float64(4), object(4)
memory usage: 2.0+ MB

In [16]:
data['price'].describe()

count    3.264800e+04
mean     6.829542e+04
std      9.071860e+04
min      4.400000e+03
25%      2.500000e+04
50%      4.300000e+04
75%      8.000000e+04
max      1.900000e+06
Name: price, dtype: float64

In [17]:
data['owner'].unique()

array(['First Owner', 'Second Owner', 'Third Owner',
       'Fourth Owner Or More'], dtype=object)

In [34]:
data.replace({'owner':{'First Owner':1,'Second Owner':2,'Third Owner':3,'Fourth Owner Or More':4}},inplace=True)
data.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,1,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,1,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,1,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,1,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,1,3.0,150.0,Yamaha

In [19]:
from sklearn.preprocessing import OrdinalEncoder,MinMaxScaler

C:\Users\vatsa\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [20]:
OE = OrdinalEncoder()
MMS = MinMaxScaler()

In [43]:
data[["bike_name","city","owner","brand"]] =  OE.fit_transform(data[["bike_name","city","owner","brand"]] )

In [44]:
data.head()

   bike_name     price   city  kms_driven  owner       age     power  brand
0      401.0  0.016143    6.0    0.023537    0.0  0.032258  0.005882   19.0
1      295.0  0.060931  118.0    0.014665    0.0  0.048387  0.147059   17.0
2      411.0  0.314201  118.0    0.000145    0.0  0.112903  0.338235   20.0
3      375.0  0.031969   44.0    0.021771    0.0  0.048387  0.047059   19.0
4      426.0  0.039882   44.0    0.013332    0.0  0.032258  0.029412   21.0

In [45]:
data[["price","kms_driven","age","power"]] = MMS.fit_transform(data[["price","kms_driven","age","power"]])

In [46]:
data.head()

   bike_name     price   city  kms_driven  owner       age     power  brand
0      401.0  0.016143    6.0    0.023537    0.0  0.032258  0.005882   19.0
1      295.0  0.060931  118.0    0.014665    0.0  0.048387  0.147059   17.0
2      411.0  0.314201  118.0    0.000145    0.0  0.112903  0.338235   20.0
3      375.0  0.031969   44.0    0.021771    0.0  0.048387  0.047059   19.0
4      426.0  0.039882   44.0    0.013332    0.0  0.032258  0.029412   21.0

In [47]:
data.corr()

,bike_name,price,city,kms_driven,owner,age,power,brand
bike_name,1.000000,0.058337,0.123082,-0.060455,-0.019190,-0.050415,0.048600,0.974958
price,0.058337,1.000000,0.091418,-0.313955,-0.042885,-0.399133,0.862376,0.074757
city,0.123082,0.091418,1.000000,-0.106130,0.139976,0.036128,0.051510,0.091036
kms_driven,-0.060455,-0.313955,-0.106130,1.000000,-0.016986,0.484684,-0.264016,-0.104825
owner,-0.019190,-0.042885,0.139976,-0.016986,1.000000,0.297564,0.043130,-0.001168
age,-0.050415,-0.399133,0.036128,0.484684,0.297564,1.000000,-0.337035,-0.084390
power,0.048600,0.862376,0.051510,-0.264016,0.043130,-0.337035,1.000000,0.125509
brand,0.974958,0.074757,0.091036,-0.104825,-0.001168,-0.084390,0.125509,1.000000

# Model Building

In [53]:


X= data[["bike_name","city","power","brand","age"]]
y= data["price"]

from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,train_size=0.75,random_state=8976,shuffle=False)

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge, RidgeCV, Lasso,ElasticNet
from sklearn.metrics import r2_score
LR = LinearRegression()

In [54]:
LR.fit(X_train,y_train)
pred = LR.predict(X_test)
r2_score(pred,y_test)

0.9261635574782371

In [56]:
ridgeReg = Ridge(alpha=10)
ridgeReg.fit(X_train,y_train)
pred = ridgeReg.predict(X_test)
r2_score(pred,y_test)

0.9209157905321496

In [59]:
new_data=data.copy()
new_data.head()

   bike_name     price   city  kms_driven  owner       age     power  brand
0      401.0  0.016143    6.0    0.023537    0.0  0.032258  0.005882   19.0
1      295.0  0.060931  118.0    0.014665    0.0  0.048387  0.147059   17.0
2      411.0  0.314201  118.0    0.000145    0.0  0.112903  0.338235   20.0
3      375.0  0.031969   44.0    0.021771    0.0  0.048387  0.047059   19.0
4      426.0  0.039882   44.0    0.013332    0.0  0.032258  0.029412   21.0

# Model Dump

In [69]:
import pickle
pickle.dump(LR,open('prediction_model.pkl','wb'))